@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Manrope:wght@500&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

/* Reset */
* {
	box-sizing: border-box;
}

body {
	margin:0;
	font-family:'Manrope', sans-serif;
}
img {
	display: block;
	width: 100%;
}
h1, h2, h3, h4, p, ul {
	margin-top:0;
	margin-bottom: 0;
}
button {
	border: none;
}
input {
	outline:0;
}